<div>
  <div>Name</div>
  <div>Price</div>
  <div>Quantity</div>
</div>

{{#each items as |item|}}

  {{log item}}

  <div id="item-table">
      <span>
        <div id="item-name">
          {{item.warehouseItem.name}}
        </div>
        <div id="item-price">
          {{item.warehouseItem.price}}
        </div>
        <div id="item-quantity">
          {{item.quantity}}
        </div>
      </span>
      <span class="button" data-toggle="modal" data-target="#update-inventory-item-modal" id="update-button">
        <span class="menu-choice">E</span>dit
      </span>
      <!-- UPDATE modal -->
      <div class="modal fade" id="update-inventory-item-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title">Edit Inventory Item</h1>
            </div>
            <div class="modal-body">
              <div class="user-feedback-container">
                <p id="update-inventory-item-feedback" class="user-feedback"></p>
              </div>
              <div>
                <p>Name: {{item.warehouseItem.name}}</p>
                <p>Price: {{item.warehouseItem.price}}</p>
                <p>Quantity: {{item.quantity}}</p>
              </div>
              <form class="update-inventory-item-form" data-id="{{item._id}}" data-name="{{item.warehouseItem.name}}" data-price="{{item.warehouseItem.price}}"
              data-quantity="{{item.quantity}}">
              <div class="form-group">
                <p class="form-field-label">Update Quantity:</p>
                <input class="form-field modal-form-field" name="storefrontItem[quantity]" type="number" min="0" required>
              <div class="modal-button-container">
                <button type="button" data-dismiss="modal" class="button form-button">Cancel</button>
                <button type="submit" value="Update Item" class="update-item-button button form-button modal-button">Update</button>
              </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>

  </div>

{{/each}}
