<div>
  <div>Name</div>
  <div>Price</div>
  <div>Quantity</div>
</div>

{{#each items as |item|}}
  <div>
    <span>
      <div>
        {{item.warehouseItem.name}}
      </div>
      <div>
        {{item.warehouseItem.price}}
      </div>
      <div>
        {{item.quantity}}
      </div>
    </span>
    <span class="button delete-storefront-item-button" data-id="{{item._id}}">Remove</span>
    <span class="button" data-toggle="modal" data-target="#update-inventory-item-modal">
      <span class="menu-choice">E</span>dit
    </span>
  </div>

  <!-- UPDATE modal -->
  <div class="modal fade" id="update-inventory-item-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Edit Inventory Item</h1>
        </div>
        <div class="modal-body">
          <div class="user-feedback-container">
            <p class="user-feedback update-inventory-item-feedback"></p>
          </div>
          <div>
            <p>Name: {{item.warehouseItem.name}}</p>
            <p>Price: {{item.warehouseItem.price}}</p>
            <p>Quantity: {{item.quantity}}</p>
          </div>
          <form class="update-inventory-item-form" data-id="{{item._id}}" data-name="{{item.warehouseItem.name}}" data-price="{{item.warehouseItem.price}}" data-quantity="{{item.quantity}}">
            <div class="form-group">
              <p class="form-field-label">Update Quantity:</p>
              <input class="form-field modal-form-field" name="storefrontItem[quantity]" type="number" min="0" required>
              <div class="modal-button-container">
                <button type="button" data-dismiss="modal" class="button form-button">Cancel</button>
                <button type="submit" value="Update Item" class="update-item-button button form-button modal-button">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  </div>

{{/each}}
